@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

#video, .controls, #controls_btn, #searchBar, #videoInfo {
  display: none; /* 초기에는 숨김 */
}

#drop-area {
  width: 100%;
  height: 300px;
  border: 2px dashed #00acc1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  background-color: #e0f7fa ;  /* 기본 배경색 (밝은 파란색) */
  transition: background-color 0.3s ease;
  position: relative;
  cursor : pointer;
}


body {
  font-family: 'Questrial', sans-serif;
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1 {
  color: #fff;
}

video[poster] {
  object-fit: cover;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
}

img {
  margin-top : 50px;
  margin-right: 10px; 
  border: 1px solid #942828;
  cursor: pointer;
}

.search-bar {
  color: #fff;
  display: none;
  position: absolute;
  height: 320px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px; 
  padding: 20px; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.video-info {
  color: #fff;
  display: none;
  position: absolute;
  height: 320px;
  width: 640px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px; 
  padding: 20px; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 16px;
}



.search-input {
  width: 400px;
  font-size: 20px;
  border: 2px solid #942828; /* 빨간색 윤곽선 추가 */
  border-radius: 20px; /* 모서리를 둥글게 */
  padding: 10px;
  background-color: #fff; /* 배경 색상 */
  color: #000; /* 텍스트 색상 */
}


.search-button {
  background-color: #fff; /* 빨간색 배경 */
  border: none;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
  color: #942828;
  font-size: 10px;
}

.screen {
  width: 640px;  /* 고정된 너비 */
  height: 360px; /* 고정된 높이 */
  background-color: #000 !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover; /* 비디오가 플레이어를 가득 채우도록 */
}


.controls {
  background: rgba(0, 0, 0, 0.1); 
  color: #fff;
  width: 640px; /* 비디오와 동일한 너비 */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  position: relative;
  top: -40px; 
}



.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: #fff;
}

.controls .fa-stop {
  color: #fff;
}

.controls .fa-pause {
  color: #fff;
}

.controls .fa-search {
  color: #fff
  
}

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}



.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 80%;
  }
}
